@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 330px;
  padding: 2% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 0px;
  padding: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #714df1;
  width: 100%;
  border: 0;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: rgb(182, 160, 245);
}

.form .message {
  margin: 10px 0 0;
  color: #b3b3b3;
  font-size: 12px;
  text-align: center;
}

.form .message a {
  color: #6b9bda;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.img {
  width: 180px;
  height: 140px;
  justify-content: center;
  margin-left: 23%;
  margin-bottom: 2%;
}
