body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.sidebar {
  height: 100%;
  width: 19%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(19, 34, 41);
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidebar a:hover {
  background-color: #714df1;
}
