.text {
  font: italic 1.2em Copperplate, Papyrus, fantasy;
}

.text-purple {
  color: #4216e2;
}

.welcome-text {
  font: italic 1.2em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 50px 10px;
}
